@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    background-color: #262a28;
    padding: 0;
}

.pai {
    background-color: white;
    display: flex;
    background-color: #e2e464;
    flex-direction: column;
    border: 2px solid;
    border-radius: 60px;
    height: 33.5em;
    width: 24em;
}

.titulo {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backPokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 9em;
    height: 2.5em;
    border-radius: 15px;
    background-color: red;
}

.backTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    border-bottom: 1px solid;
}

.conteinerPai {
    justify-content: center;
    margin: 10px;
    border-radius: 15px;
    background-color: beige;
    border: 1px solid gray;
    width: 85%;
    height: 80%;
    margin-left: 28px;
}

input {
    background-color: #262a28;
    color: white;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
}

.btn {
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: 2px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: red;
}

.texto {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}

.barra {
    display: flex;
    align-items: center;
    padding: 0;
    height: 25px;
}

.barra-container {
    flex-grow: 1;
    margin-left: 10px;
    height: 10px;
}

.barra-progresso {
    height: 100%;
    width: 100%;
    background-color: rgb(1, 95, 1);
    border-radius: 5px;
}

.valor {
    margin-left: 10px;
}

.texto {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    font-size: 13px;
    margin-left: 5px;
}

.img1 {
    padding: 1em;
    height: 100px;
}

.img {
    height: 200px;
    width: 100%;
}

img {
    height: 100%;
    width: 80%;
}